body, html { font-size: 100%; 	padding: 0; margin: 0;}
body{
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
a{color: #2fa0ec;text-decoration: none;outline: none;}
a:hover,a:focus{color:#74777b;}

.demo{
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
